@import 'base/variables';

.navbar-expand-lg.navbar-dark,
.navbar-toggler:focus,
.navbar-toggler.collapsed,
button.navbar-toggler {
  //background: $navbarColor !important;
  border: none;

  a {
    color: white !important;
  }
}

nav {
    .navbar-header {
      width: 100%;
      button, .navbar-brand {
        transition: opacity 0.15s;
      }
      button {
        margin-right: 0;
      }
      button:hover, .navbar-brand:hover {
        opacity: 0.8;
      }
    }
  }